<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhjXKL1pcH0q-EvkOP9Q1KUhgkGHKBS7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>794872075735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbaseApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firbase-app1</string>
	<key>STORAGE_BUCKET</key>
	<string>firbase-app1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794872075735:ios:3042229566e381b1baa792</string>
</dict>
</plist>